<a href="https://colab.research.google.com/github/leticiatito/2024.1-Algoritmos-e-estrutura-de-dados-Leticia-Tito/blob/main/14_matrizes_introducao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
M = [1,2,3,4,5,6] #unidimensional
print(M)

[1, 2, 3, 4, 5, 6]

In [ ]:
M = [[1,1,1],[1,1,1],[1,1,1]] #bidimensional
print(M)
M = [[1]*3]*3
print(M)

[[1, 1, 1], [1, 1, 1], [1, 1, 1]]
[[1, 1, 1], [1, 1, 1], [1, 1, 1]]

In [8]:
M = [ [1 for i in range(5)] ]
print(M)

[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

In [5]:
M = [ [1 for i in range(5)] for j in range(5)]
print(M)

[[1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1]]

In [15]:
#IMPRIMIR UMA LISTA ANINHA
m = [ [1 for i in range(5)] for j in range(5) ]
print(m)
print(len(m))
cont = 0
for i in range(len(m)):
    for j in range(len(m[i])):
      cont+=1
      m[i][j]=cont
print(m)

[[1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1]]
5
[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20], [21, 22, 23, 24, 25]]